*.~
*.exe
*.dcu
*~*
*.res
*.scs
*.dll
*.bak
*.identcache
*.drc
*.tvsconfig
*.a
*.map
*.local
*.*.local
*.skincfg
*.groupproj
modelsupport_tFastReport/
out/
fr3/
!fr3/*.fr3
/FRReporting
Source/Win64
Source/Win32
Source/FastReportProject
